<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tourista | 360</title>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@40,600,1,0" />
    
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script src="https://unpkg.com/lucide@latest"></script>

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    
    <script>
      lucide.createIcons();
    </script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              'black-ops-one': ['Black Ops One'],
            },
            colors: {
              clifford: '#da373d',
              tourista: '#FFCB0B',
              viacolor: '#E48FA0',
              tourPurple: '#7039aa',
              lightPurple: '#8a52ba',
              blueSky: '#79def2',
              darkSky: '#1c0f36'
            },
            animation: {
              'bounce-slow': 'bounce 3s linear infinite',
            }
          }
        }
      }
    </script>
</head>
<body class="font-[Onest] bg-white h-screen">
  <header id="myDIV" class="bg-darkSky">
    <nav class="flex justify-between items-center w-[92%]  mx-auto">
        <div class="py-6">
          <h1 class="text-lg font-bold text-white">TOURISTA</h1>
        </div>
        <div
            class="nav-links duration-500 md:static absolute md:min-h-fit min-h-[40vh] left-0 top-[-100%] md:w-auto  w-full flex items-center px-5 z- bg-darkSky" id="myDIV" x-data
            
            >
            <ul class="flex md:flex-row flex-col md:items-center md:gap-[3vw] gap-8">
                <li>
                  <a class="hover:text-lightPurple hover:font-semibold text-white" :class="$store.globalData.uri == '/' && 'text-lightPurple font-semibold'"  href="/">Home</a>
                </li>
                <li>
                    <a class="hover:text-lightPurple hover:font-semibold text-white" :class="$store.globalData.uri == '/apply' && 'text-lightPurple font-semibold'" href="/apply">Apply</a>
                </li>
                <li>
                    <a class="hover:text-lightPurple hover:font-semibold text-white" :class="$store.globalData.uri == '/track' && 'text-lightPurple font-semibold'" href="/track">Track</a>
                </li>
                <li>
                    <a class="hover:text-lightPurple hover:font-semibold text-white" href="/report" :class="$store.globalData.uri == '/report' && 'text-lightPurple font-semibold'">Report</a>
                </li>
                <li>
                  <a class="hover:text-lightPurple hover:font-semibold text-white" href="#"><h1 class="">Billing</h1></a>
                </li>
            </ul>
        </div>
        <div class="flex items-center gap-6">
            <ion-icon onclick="onToggleMenu(this)" name="menu" class="text-3xl cursor-pointer md:hidden text-white"></ion-icon>
        </div>
    </nav>
  </header>
  <main class="z-10 bg-white h-screen">
    <section class="px-20 pt-2">
      <div class="text-black text-xl font-bold bg-gradient-to-r from-violet-500 to-fuchsia-500 text-shadow-md text-opacity-90 text-transparent bg-clip-text">Welcome, codesandbox !</div>
    </section>
  </main>
  
  <script>
    const navLinks = document.querySelector('.nav-links')
    function onToggleMenu(e){
        e.name = e.name === 'menu' ? 'close' : 'menu'
        navLinks.classList.toggle('top-[10%]')
    }

    document.addEventListener('alpine:init', () => {
    Alpine.store('globalData', {
        uri: window.location.pathname,
    })

    console.log('current path: ',window.location.pathname)
})
  </script>
</body>
</html>